a.button { 
    position: relative; 
    overflow: visible; 
    display: inline-block; 
    padding: 0.5em 1em; 
    border: 1px solid #d4d4d4; 
    text-decoration: none; 
    text-shadow: 1px 1px 0 #fff; 
    font:12px/normal 'lucida grande', tahoma, verdana, arial, sans-serif; 
    color: #333; 
    white-space: nowrap; 
    cursor: pointer; 
    outline: none; 
    background-color: #ececec;
    background-image: -webkit-gradient(
        linear, 0 0, 0 100%,
        from(#f4f4f4),
        to(#ececec)
    );
    background-image: -moz-linear-gradient(
        #f4f4f4,
        #ececec
    );
    background-image: linear-gradient(
        #f4f4f4,
        #ececec
    );
    -webkit-border-radius: 0.2em; 
    -moz-border-radius: 0.2em; 
    border-radius: 0.2em; 
    -webkit-background-clip: padding-box; 
    -moz-background-clip: padding-box; 
    -o-background-clip: padding-box; 
    background-clip: padding-box;
    /* IE hacks */
    zoom: 1; 
    *display: inline; 
}

a.button.primary {
    font-weight: bold;
}

a.button:hover,
a.button:focus,
a.button:active {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    
    text-decoration: none; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3); 
    color: #fff; 
    background-color: #3072b3;
    background-image: -webkit-gradient(
        linear, 0 0, 0 100%,
        from(#599bdc),
        to(#3072b3)
    );
    background-image: -moz-linear-gradient(
        #599bdc,
        #3072b3
    );
    background-image: linear-gradient(
        #599bdc,
        #3072b3
    );
}

a.button:active,
a.button.active {
    border-color:#2a65a0;
    border-bottom-color:#3884CF;
    color: #fff; 
    background-color: #3072b3;
    background-image: -webkit-gradient(
        linear, 0 0, 0 100%,
        from(#3072b3),
        to(#599bdc)
    );
    background-image: -moz-linear-gradient(
        #3072b3,
        #599bdc
    );
    background-image: linear-gradient(
        #3072b3,
        #599bdc
    );
}

/* Negative style */

a.button.negative {
    color:#900;
}

a.button.negative:hover,
a.button.negative:focus {     
    border-color: #b53f3a;
    border-bottom-color:#a0302a;
    color: #fff; 
    background: #dc5f59;
    background: -webkit-gradient(
        linear, 0 0, 0 100%,
        from(#dc5f59),
        to(#b33630)
    );
    background: -moz-linear-gradient(
        #dc5f59,
        #b33630
    );
    background: linear-gradient(
        #dc5f59,
        #b33630
    );
}

a.button.negative:active,
a.button.negative.active {   
    border-color: #a0302a;
    border-bottom-color: #bf4843;
    background: #b33630;
    background: -webkit-gradient(linear, 0 0, 0 100%,
        from(#b33630),
        to(#dc5f59)
    );
    background: -moz-linear-gradient(
        #b33630,
        #dc5f59
    );
    background: linear-gradient(
        #b33630,
        #dc5f59
    );
}

/* Pill style */

a.button.pill {
    -webkit-border-radius: 50em; 
    -moz-border-radius: 50em; 
    border-radius: 50em; 
}

/* Grouped style */

a.button.left { 
    margin-right: 0;
    -webkit-border-bottom-right-radius: 0; 
    -webkit-border-top-right-radius: 0; 
    -moz-border-radius-bottomright: 0; 
    -moz-border-radius-topright: 0; 
    border-bottom-right-radius: 0; 
    border-top-right-radius: 0; 
}

a.button.middle { 
    border-right: 0; 
    border-left: 0; 
    margin-right: 0; 
    margin-left: 0; 
    -webkit-border-radius: 0; 
    -moz-border-radius: 0; 
    border-radius: 0; 
}

a.button.right { 
    margin-left: 0; 
    -webkit-border-bottom-left-radius: 0; 
    -webkit-border-top-left-radius: 0; 
    -moz-border-radius-bottomleft: 0; 
    -moz-border-radius-topleft: 0; 
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0; 
}

/* Big style */

a.button.big { 
    font-size: 16px; 
}

/* With icon */

a.button .icon {
    position: relative; 
    top: 1px; 
    display:inline-block;
    width: 14px; 
    height: 12px; 
    margin: 0 0.5em 0 -0.25em; 
    background-image: url('../images/css3buttons_icons.png'); 
    background-repeat: no-repeat; 
}

a.big.button .icon { top: 0; }

a.button .book { background-position: 0 0; }
a.button:hover .book,
a.button:focus .book,
a.button:active .book { background-position: 0 -15px; }

a.button .calendar { background-position: 0 -30px; }
a.button:hover .calendar,
a.button:focus .calendar,
a.button:active .calendar { background-position: 0 -45px; }

a.button .chat { background-position: 0 -60px; }
a.button:hover .chat,
a.button:focus .chat,
a.button:active .chat { background-position: 0 -75px; }

a.button .check { background-position: 0 -90px; }
a.button:hover .check,
a.button:focus .check,
a.button:active .check { background-position: 0 -103px; }

a.button .clock { background-position: 0 -116px; }
a.button:hover .clock,
a.button:focus .clock,
a.button:active .clock { background-position: 0 -131px; }

a.button .cog { background-position: 0 -146px; }
a.button:hover .cog,
a.button:focus .cog,
a.button:active .cog { background-position: 0 -161px; }

a.button .comment { background-position: 0 -176px; }
a.button:hover .comment,
a.button:focus .comment,
a.button:active .comment { background-position: 0 -190px; }

a.button .cross { background-position: 0 -204px; }
a.button:hover .cross,
a.button:focus .cross,
a.button:active .cross { background-position: 0 -219px; }

a.button .downarrow { background-position: 0 -234px; }
a.button:hover .downarrow,
a.button:focus .downarrow,
a.button:active .downarrow { background-position: 0 -249px; }

a.button .fork { background-position: 0 -264px; }
a.button:hover .fork,
a.button:focus .fork,
a.button:active .fork { background-position: 0 -279px; }

a.button .heart { background-position: 0 -294px; }
a.button:hover .heart,
a.button:focus .heart,
a.button:active .heart { background-position: 0 -308px; }

a.button .home { background-position: 0 -322px; }
a.button:hover .home,
a.button:focus .home,
a.button:active .home { background-position: 0 -337px; }

a.button .key { background-position: 0 -352px; }
a.button:hover .key,
a.button:focus .key,
a.button:active .key { background-position: 0 -367px; }

a.button .leftarrow { background-position: 0 -382px; }
a.button:hover .leftarrow,
a.button:focus .leftarrow,
a.button:active .leftarrow { background-position: 0 -397px; }

a.button .lock { background-position: 0 -412px; }
a.button:hover .lock,
a.button:focus .lock,
a.button:active .lock { background-position: 0 -427px; }

a.button .loop { background-position: 0 -442px; }
a.button:hover .loop,
a.button:focus .loop,
a.button:active .loop { background-position: 0 -457px; }

a.button .magnifier { background-position: 0 -472px; }
a.button:hover .magnifier,
a.button:focus .magnifier,
a.button:active .magnifier { background-position: 0 -487px; }

a.button .mail { background-position: 0 -502px; }
a.button:hover .mail,
a.button:focus .mail,
a.button:active .mail { background-position: 0 -514px; }

a.button .move { background-position: 0 -526px; }
a.button:hover .move,
a.button:focus .move,
a.button:active .move { background-position: 0 -541px; }

a.button .pen { background-position: 0 -556px; }
a.button:hover .pen,
a.button:focus .pen,
a.button:active .pen { background-position: 0 -571px; }

a.button .pin { background-position: 0 -586px; }
a.button:hover .pin,
a.button:focus .pin,
a.button:active .pin { background-position: 0 -601px; }

a.button .plus { background-position: 0 -616px; }
a.button:hover .plus,
a.button:focus .plus,
a.button:active .plus { background-position: 0 -631px; }

a.button .reload { background-position: 0 -646px; }
a.button:hover .reload,
a.button:focus .reload,
a.button:active .reload { background-position: 0 -660px; }

a.button .rightarrow { background-position: 0 -674px; }
a.button:hover .rightarrow,
a.button:focus .rightarrow,
a.button:active .rightarrow { background-position: 0 -689px; }

a.button .rss { background-position: 0 -704px; }
a.button:hover .rss,
a.button:focus .rss,
a.button:active .rss { background-position: 0 -719px; }

a.button .tag { background-position: 0 -734px; }
a.button:hover .tag,
a.button:focus .tag,
a.button:active .tag { background-position: 0 -749px; }

a.button .trash { background-position: 0 -764px; }
a.button:hover .trash,
a.button:focus .trash,
a.button:active .trash { background-position: 0 -779px; }

a.button .unlock { background-position: 0 -794px; }
a.button:hover .unlock,
a.button:focus .unlock,
a.button:active .unlock { background-position: 0 -809px; }

a.button .uparrow { background-position: 0 -824px; }
a.button:hover .uparrow,
a.button:focus .uparrow,
a.button:active .uparrow { background-position: 0 -839px; }

a.button .user { background-position: 0 -854px; }
a.button:hover .user,
a.button:focus .user,
a.button:active .user { background-position: 0 -869px; }
