a.button { display: inline-block; padding: 3px 5px 3px 5px; font-family: 'lucida grande', tahoma, verdana, arial, sans-serif; font-size: 12px; color: #3C3C3D; text-shadow: 1px 1px 0 #FFFFFF; background: #ECECEC url('../images/css3buttons_backgrounds.png') 0 0 no-repeat; white-space: nowrap; overflow: visible; cursor: pointer; text-decoration: none; border: 1px solid #CACACA; -webkit-border-radius: 2px; -moz-border-radius: 2px; -webkit-background-clip: padding-box; border-radius: 2px; outline: none; position: relative; zoom: 1; *display: inline; }
a.button.primary { font-weight: bold }
a.button:hover { color: #FFFFFF; border-color: #388AD4; text-decoration: none; text-shadow: -1px -1px 0 rgba(0,0,0,0.3); background-position: 0 -40px; background-color: #2D7DC5; }
a.button:active,
a.button.active { background-position: 0 -81px; border-color: #347BBA; background-color: #0F5EA2; color: #FFFFFF; text-shadow: none; }
a.button:active { top: 1px }
a.button.negative:hover { color: #FFFFFF; background-position: 0 -121px; background-color: #D84743; border-color: #911D1B; }
a.button.negative:active,
a.button.negative.active { background-position: 0 -161px; background-color: #A5211E; border-color: #911D1B; }
a.button.pill { -webkit-border-radius: 19px; -moz-border-radius: 19px; border-radius: 19px; padding: 2px 10px 2px 10px; }
a.button.left { -webkit-border-bottom-right-radius: 0px; -webkit-border-top-right-radius: 0px; -moz-border-radius-bottomright: 0px; -moz-border-radius-topright: 0px; border-bottom-right-radius: 0px; border-top-right-radius: 0px; margin-right: 0px; }
a.button.middle { margin-right: 0px; margin-left: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; border-right: none; border-left: none; }
a.button.right { -webkit-border-bottom-left-radius: 0px; -webkit-border-top-left-radius: 0px; -moz-border-radius-bottomleft: 0px; -moz-border-radius-topleft: 0px; border-top-left-radius: 0px; border-bottom-left-radius: 0px; margin-left: 0px; }
a.button.left:active,
a.button.middle:active,
a.button.right:active { top: 0px }
a.button.big { font-size: 16px; padding-left: 17px; padding-right: 17px; }
a.button span.icon { display: inline-block; width: 14px; height: 12px; margin: auto 7px auto auto; position: relative; top: 2px; background-image: url('../images/css3buttons_icons.png'); background-repeat: no-repeat; }
a.big.button span.icon { top: 0px }
a.button span.icon.magnifier { background-position: -1px 0px }
a.button:hover span.icon.magnifier { background-position: -17px 0px }
a.button span.icon.mail { background-position: -37px 0px }
a.button:hover span.icon.mail { background-position: -55px 0px }
a.button span.icon.loop { background-position: -74px 0px }
a.button:hover span.icon.loop { background-position: -89px 0px }
a.button span.icon.reload { background-position: -105px 0px }
a.button:hover span.icon.reload { background-position: -124px 0px }
a.button span.icon.calendar { background-position: -144px 0px }
a.button:hover span.icon.calendar { background-position: -163px 0px }
a.button span.icon.rss { background-position: -182px 0px }
a.button:hover span.icon.rss { background-position: -200px 0px }
a.button span.icon.chat { background-position: -220px 0px }
a.button:hover span.icon.chat { background-position: -240px 0px }
a.button span.icon.pen { background-position: -259px 0px }
a.button:hover span.icon.pen { background-position: -277px 0px }
a.button span.icon.key { background-position: -298px 0px }
a.button:hover span.icon.key { background-position: -315px 0px }
a.button span.icon.cog { background-position: -336px 0px }
a.button:hover span.icon.cog { background-position: -354px 0px }
a.button span.icon.user { background-position: -372px 0px }
a.button:hover span.icon.user { background-position: -388px 0px }
a.button span.icon.trash { background-position: 1px -19px }
a.button:hover span.icon.trash { background-position: -17px -19px }
a.button span.icon.lock { background-position: -38px -19px }
a.button:hover span.icon.lock { background-position: -55px -19px }
a.button span.icon.unlock { background-position: -74px -19px }
a.button:hover span.icon.unlock { background-position: -90px -19px }
a.button span.icon.comment { background-position: -107px -19px }
a.button:hover span.icon.comment { background-position: -124px -19px }
a.button span.icon.plus { background-position: -145px -19px }
a.button:hover span.icon.plus { background-position: -164px -19px }
a.button span.icon.cross { background-position: -183px -19px }
a.button:hover span.icon.cross { background-position: -201px -19px }
a.button span.icon.check { background-position: -243px -19px }
a.button:hover span.icon.check { background-position: -223px -19px }
a.button span.icon.tag { background-position: -262px -19px }
a.button:hover span.icon.tag { background-position: -279px -20px }
a.button span.icon.heart { background-position: -296px -19px }
a.button:hover span.icon.heart { background-position: -315px -19px }
a.button span.icon.home { background-position: -337px -19px }
a.button:hover span.icon.home { background-position: -356px -19px }