a.button { 
    position: relative; 
    overflow: visible; 
    display: inline-block; 
    padding: 0.5em 1em; 
    border: 1px solid #d4d4d4; 
    text-decoration: none; 
    text-shadow: 1px 1px 0 #fff; 
    font:12px/normal 'lucida grande', tahoma, verdana, arial, sans-serif; 
    color: #333; 
    white-space: nowrap; 
    cursor: pointer; 
    outline: none; 
    background-color: #ececec;
    background-image: -webkit-gradient(
        linear, 0 0, 0 100%,
        from(#f4f4f4),
        to(#ececec)
    );
    background-image: -moz-linear-gradient(
        #f4f4f4,
        #ececec
    );
    background-image: linear-gradient(
        #f4f4f4,
        #ececec
    );
    -webkit-border-radius: 0.2em; 
    -moz-border-radius: 0.2em; 
    border-radius: 0.2em; 
    -webkit-background-clip: padding-box; 
    -moz-background-clip: padding-box; 
    -o-background-clip: padding-box; 
    background-clip: padding-box;
    /* IE hacks */
    zoom: 1; 
    *display: inline; 
}

a.button.primary {
    font-weight: bold;
}

a.button:hover,
a.button:focus,
a.button:active {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    
    text-decoration: none; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3); 
    color: #fff; 
    background-color: #3072b3;
    background-image: -webkit-gradient(
        linear, 0 0, 0 100%,
        from(#599bdc),
        to(#3072b3)
    );
    background-image: -moz-linear-gradient(
        #599bdc,
        #3072b3
    );
    background-image: linear-gradient(
        #599bdc,
        #3072b3
    );
}

a.button:active,
a.button.active {
    border-color:#2a65a0;
    border-bottom-color:#3884CF;
    color: #fff; 
    background-color: #3072b3;
    background-image: -webkit-gradient(
        linear, 0 0, 0 100%,
        from(#3072b3),
        to(#599bdc)
    );
    background-image: -moz-linear-gradient(
        #3072b3,
        #599bdc
    );
    background-image: linear-gradient(
        #3072b3,
        #599bdc
    );
}

/* Danger style */

a.button.danger {
    color:#900;
}

a.button.danger:hover,
a.button.danger:focus {     
    border-color: #b53f3a;
    border-bottom-color:#a0302a;
    color: #fff; 
    background: #dc5f59;
    background: -webkit-gradient(
        linear, 0 0, 0 100%,
        from(#dc5f59),
        to(#b33630)
    );
    background: -moz-linear-gradient(
        #dc5f59,
        #b33630
    );
    background: linear-gradient(
        #dc5f59,
        #b33630
    );
}

a.button.danger:active,
a.button.danger.active {   
    border-color: #a0302a;
    border-bottom-color: #bf4843;
    background: #b33630;
    background: -webkit-gradient(linear, 0 0, 0 100%,
        from(#b33630),
        to(#dc5f59)
    );
    background: -moz-linear-gradient(
        #b33630,
        #dc5f59
    );
    background: linear-gradient(
        #b33630,
        #dc5f59
    );
}

/* Pill style */

a.button.pill {
    -webkit-border-radius: 50em; 
    -moz-border-radius: 50em; 
    border-radius: 50em; 
}

/* Grouped style */

a.button.left { 
    margin-right: 0;
    -webkit-border-bottom-right-radius: 0; 
    -webkit-border-top-right-radius: 0; 
    -moz-border-radius-bottomright: 0; 
    -moz-border-radius-topright: 0; 
    border-bottom-right-radius: 0; 
    border-top-right-radius: 0; 
}

a.button.middle { 
    border-right: 0; 
    border-left: 0; 
    margin-right: 0; 
    margin-left: 0; 
    -webkit-border-radius: 0; 
    -moz-border-radius: 0; 
    border-radius: 0; 
}

a.button.right { 
    margin-left: 0; 
    -webkit-border-bottom-left-radius: 0; 
    -webkit-border-top-left-radius: 0; 
    -moz-border-radius-bottomleft: 0; 
    -moz-border-radius-topleft: 0; 
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0; 
}

/* Big style */

a.button.big { 
    font-size: 16px; 
}

/* With icon */

a.button.icon:before {
    content: "";
    position: relative; 
    top: 1px; 
    display:inline-block;
    width: 14px; 
    height: 12px; 
    margin: 0 0.5em 0 -0.25em; 
    background-image: url('../images/css3buttons_icons.png'); 
    background-repeat: no-repeat; 
}

a.big.button.icon:before { top: 0; }

a.button.book.icon:before { background-position: 0 0; }
a.button.book.icon:hover:before,
a.button.book.icon:focus:before,
a.button.book.icon:active:before { background-position: 0 -15px; }

a.button.calendar.icon:before { background-position: 0 -30px; }
a.button.calendar.icon:hover:before,
a.button.calendar.icon:focus:before,
a.button.calendar.icon:active:before { background-position: 0 -45px; }

a.button.chat.icon:before { background-position: 0 -60px; }
a.button.chat.icon:hover:before,
a.button.chat.icon:focus:before,
a.button.chat.icon:active:before { background-position: 0 -75px; }

a.button.check.icon:before { background-position: 0 -90px; }
a.button.check.icon:hover:before,
a.button.check.icon:focus:before,
a.button.check.icon:active:before { background-position: 0 -103px; }

a.button.clock.icon:before { background-position: 0 -116px; }
a.button.clock.icon:hover:before,
a.button.clock.icon:focus:before,
a.button.clock.icon:active:before { background-position: 0 -131px; }

a.button.cog.icon:before { background-position: 0 -146px; }
a.button.cog.icon:hover:before,
a.button.cog.icon:focus:before,
a.button.cog.icon:active:before { background-position: 0 -161px; }

a.button.comment.icon:before { background-position: 0 -176px; }
a.button.comment.icon:hover:before,
a.button.comment.icon:focus:before,
a.button.comment.icon:active:before { background-position: 0 -190px; }

a.button.cross.icon:before { background-position: 0 -204px; }
a.button.cross.icon:hover:before,
a.button.cross.icon:focus:before,
a.button.cross.icon:active:before { background-position: 0 -219px; }

a.button.downarrow.icon:before { background-position: 0 -234px; }
a.button.downarrow.icon:hover:before,
a.button.downarrow.icon:focus:before,
a.button.downarrow.icon:active:before { background-position: 0 -249px; }

a.button.fork.icon:before { background-position: 0 -264px; }
a.button.fork.icon:hover:before,
a.button.fork.icon:focus:before,
a.button.fork.icon:active:before { background-position: 0 -279px; }

a.button.heart.icon:before { background-position: 0 -294px; }
a.button.heart.icon:hover:before,
a.button.heart.icon:focus:before,
a.button.heart.icon:active:before { background-position: 0 -308px; }

a.button.home.icon:before { background-position: 0 -322px; }
a.button.home.icon:hover:before,
a.button.home.icon:focus:before,
a.button.home.icon:active:before { background-position: 0 -337px; }

a.button.key.icon:before { background-position: 0 -352px; }
a.button.key.icon:hover:before,
a.button.key.icon:focus:before,
a.button.key.icon:active:before { background-position: 0 -367px; }

a.button.leftarrow.icon:before { background-position: 0 -382px; }
a.button.leftarrow.icon:hover:before,
a.button.leftarrow.icon:focus:before,
a.button.leftarrow.icon:active:before { background-position: 0 -397px; }

a.button.lock.icon:before { background-position: 0 -412px; }
a.button.lock.icon:hover:before,
a.button.lock.icon:focus:before,
a.button.lock.icon:active:before { background-position: 0 -427px; }

a.button.loop.icon:before { background-position: 0 -442px; }
a.button.loop.icon:hover:before,
a.button.loop.icon:focus:before,
a.button.loop.icon:active:before { background-position: 0 -457px; }

a.button.magnifier.icon:before { background-position: 0 -472px; }
a.button.magnifier.icon:hover:before,
a.button.magnifier.icon:focus:before,
a.button.magnifier.icon:active:before { background-position: 0 -487px; }

a.button.mail.icon:before { background-position: 0 -502px; }
a.button.mail.icon:hover:before,
a.button.mail.icon:focus:before,
a.button.mail.icon:active:before { background-position: 0 -514px; }

a.button.move.icon:before { background-position: 0 -526px; }
a.button.move.icon:hover:before,
a.button.move.icon:focus:before,
a.button.move.icon:active:before { background-position: 0 -541px; }

a.button.pen.icon:before { background-position: 0 -556px; }
a.button.pen.icon:hover:before,
a.button.pen.icon:focus:before,
a.button.pen.icon:active:before { background-position: 0 -571px; }

a.button.pin.icon:before { background-position: 0 -586px; }
a.button.pin.icon:hover:before,
a.button.pin.icon:focus:before,
a.button.pin.icon:active:before { background-position: 0 -601px; }

a.button.plus.icon:before { background-position: 0 -616px; }
a.button.plus.icon:hover:before,
a.button.plus.icon:focus:before,
a.button.plus.icon:active:before { background-position: 0 -631px; }

a.button.reload.icon:before { background-position: 0 -646px; }
a.button.reload.icon:hover:before,
a.button.reload.icon:focus:before,
a.button.reload.icon:active:before { background-position: 0 -660px; }

a.button.rightarrow.icon:before { background-position: 0 -674px; }
a.button.rightarrow.icon:hover:before,
a.button.rightarrow.icon:focus:before,
a.button.rightarrow.icon:active:before { background-position: 0 -689px; }

a.button.rss.icon:before { background-position: 0 -704px; }
a.button.rss.icon:hover:before,
a.button.rss.icon:focus:before,
a.button.rss.icon:active:before { background-position: 0 -719px; }

a.button.tag.icon:before { background-position: 0 -734px; }
a.button.tag.icon:hover:before,
a.button.tag.icon:focus:before,
a.button.tag.icon:active:before { background-position: 0 -749px; }

a.button.trash.icon:before { background-position: 0 -764px; }
a.button.trash.icon:hover:before,
a.button.trash.icon:focus:before,
a.button.trash.icon:active:before { background-position: 0 -779px; }

a.button.unlock.icon:before { background-position: 0 -794px; }
a.button.unlock.icon:hover:before,
a.button.unlock.icon:focus:before,
a.button.unlock.icon:active:before { background-position: 0 -809px; }

a.button.uparrow.icon:before { background-position: 0 -824px; }
a.button.uparrow.icon:hover:before,
a.button.uparrow.icon:focus:before,
a.button.uparrow.icon:active:before { background-position: 0 -839px; }

a.button.user.icon:before { background-position: 0 -854px; }
a.button.user.icon:hover:before,
a.button.user.icon:focus:before,
a.button.user.icon:active:before { background-position: 0 -869px; }
