/**
 * This is styling for the demo page and is not necessary to include in your projects
 */

 /* --------------------------------------------------------------
  * Basic reset
-------------------------------------------------------------- */

html, body, div,
h1, h2, h3, p, span,
code, pre { 
	margin: 0; 
	padding: 0; 
	border: 0; 
    vertical-align: baseline;
}

article, aside, figure, footer, header, hgroup, nav, section { display: block; }
a img { border: none; }

 /* --------------------------------------------------------------
  * Demo page styles
-------------------------------------------------------------- */

body { font: 14px/1.5 sans-serif; color: #444; background-color: #fff;}
h1 { font-size: 37px; margin-bottom: 50px; font-weight:normal; color: #666;}
h2 { font-size: 21px; margin-bottom: 20px; font-weight:normal;}
h3 { font-size: 16px; margin-bottom: 10px; font-weight:normal;}
p { margin-bottom: 20px }

a { color: #980905 }
a:hover, a:focus, a:active {text-decoration:none;}

em { font-style: italic }
ul, ol { padding-left: 30px; margin: 20px 0; }

table { border-collapse: separate; border-spacing: 0; vertical-align: middle; margin: 20px auto 20px auto }
th { font-weight: bold }
th, td { padding: 5px; text-align: left; vertical-align: middle; }
blockquote { margin: 20px 0px 20px 0px }

.code, blockquote, code { font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif }
.code { color: #d1d1d1; background-color: #3F3F3F; margin: 0px 0px 20px 0px; padding: 5px; font-size: 13px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
.notice { background-color: #FFF9D8; margin-top: 20px; padding: 10px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
.ribbon { position: absolute; top: 0; right: 0; border: 0; }
 
.container { margin: 50px auto 100px auto; width: 750px; }
#main { padding: 10px; background-color: #FFFFFF; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }

section { margin-bottom: 20px; padding: 10px; }
section.even { -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
div.example { margin: 10px 0px 20px 0px; padding: 10px 0px 10px 0px; border-top: 1px dotted #ccc; }
footer { font-size: 11px; color: #666; text-align: center; margin-top: 20px; }
footer a { color: #666 }